<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            background-image: url("images.jpeg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        h1 {
           font-size: 100px; 
           color: white;
        }
        
        a {
            background-color: darkblue;
            color: white;
            border-radius: 15px;
            text-decoration: none;
            padding: 5px 15px;
            transition: transform 0.1s ease, border-color 0.2s ease;
        }
    </style>
</head>
<body>
    <div>
        <h1>PAN</h1>
        <div>
            <a href="/history">전적 보기</a>
            <a>전적 등록</a>
            <a>사다리 타기</a>
            <a>랜덤</a>
        </div>
    </div>
</body>
</html>
